:root {
	--separator: #e5e5e5;
	--muted-separator: #272727;
	/* Background */
	--sl-bg: var(--muted);

	/* Surface */
	--sl-surface: var(--card);
	--sl-surface-2: var(--card-foreground);
	--sl-surface-3: var(--secondary);

	/* Input */
	--sl-input: var(--secondary);
	--sl-input-hover: var(--accent);

	/* States */
	--sl-hover: var(--accent);
	--sl-active: var(--input);

	/* Border */
	--sl-border: var(--border);

	/* Text */
	--sl-text: var(--foreground);
	--sl-text-secondary: var(--secondary-foreground);
	--sl-text-muted: var(--muted-foreground);

	/* Brand */
	--sl-primary: var(--primary);
	--sl-primary-foreground: var(--primary-foreground);

	/* Status */
	--sl-warning: #facc15;
	--sl-danger: var(--destructive);
	--sl-success: #22c55e;

	/* Shadow */
	--sl-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);

	--divider: var(--separator);
}

.dark {
	/* Background */
	--sl-bg: var(--background);

	/* Surface */
	--sl-surface: var(--card);
	--sl-surface-2: var(--secondary);
	--sl-surface-3: var(--input);

	/* Input */
	--sl-input: var(--input);
	--sl-input-hover: var(--accent);

	/* States */
	--sl-hover: var(--accent);
	--sl-active: var(--secondary);

	/* Border */
	--sl-border: var(--border);

	/* Text */
	--sl-text: var(--foreground);
	--sl-text-secondary: var(--secondary-foreground);
	--sl-text-muted: var(--muted-foreground);

	/* Brand */
	--sl-primary: var(--primary);
	--sl-primary-foreground: var(--primary-foreground);

	/* Status */
	--sl-warning: #facc15;
	--sl-danger: var(--destructive);
	--sl-success: #22c55e;

	/* Shadow */
	--sl-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);

	--divider: var(--muted-separator);
}

.theme-neutral {
	--background: lab(100% 0 0);
	--foreground: lab(8.34178% 0.607349 -2.12998);
	--card: #2f2f2f;
	--card-foreground: lab(2.75381% 0 0);
	--popover: lab(100% 0 0);
	--popover-foreground: lab(2.75381% 0 0);
	--primary: lab(7.78201% -0.0000149012 0);
	--primary-foreground: lab(98.26% 0 0);
	--secondary: lab(96.52% -0.0000298023 0.0000119209);
	--secondary-foreground: lab(7.78201% -0.0000149012 0);
	--muted: #f5f5f5;
	--muted-foreground: lab(47.8738% 1.41454 -4.98644);
	--accent: lab(96.52% -0.0000298023 0.0000119209);
	--accent-foreground: lab(7.78201% -0.0000149012 0);
	--destructive: lab(48.4493% 77.4328 61.5452);
	--border: lab(90.952% 0 -0.0000119209);
	--input: lab(90.952% 0 -0.0000119209);
	--ring: lab(66.128% -0.0000298023 0.0000119209);
	--chart-1: lab(84.92% 0 -0.0000119209);
	--chart-2: lab(48.496% 0 0);
	--chart-3: lab(34.924% 0 0);
	--chart-4: lab(27.036% 0 0);
	--chart-5: lab(15.204% 0 -0.00000596046);
	--sidebar: lab(98.26% 0 0);
	--sidebar-foreground: lab(2.75381% 0 0);
	--sidebar-primary: lab(7.78201% -0.0000149012 0);
	--sidebar-primary-foreground: lab(98.26% 0 0);
	--sidebar-accent: lab(96.52% -0.0000298023 0.0000119209);
	--sidebar-accent-foreground: lab(7.78201% -0.0000149012 0);
	--sidebar-border: lab(90.952% 0 -0.0000119209);
	--sidebar-ring: lab(66.128% -0.0000298023 0.0000119209);
	--separator: lab(90.6853% 0.399232 -1.45452);
	--muted-separator: rgb(39, 39, 39);
}
